:root {
  /* light mode colors */
  --blue-white: #0079FF;
  --greyihs-white: #697C9A;
  --greyish-blue-white: #4B6A9B;
  --dark-white: #2B3442;
  --light-blue-white: #F6F8FF;
  --light-white: #FEFEFE;

  /* dark mode colors */
  --blue-dark: #0079FF;
  --white-dark: #fff;
  --dark-dark: #141D2F;
  --dark-blue-dark: #1E2A47;

  /* button hover colors */
  --button-hover: #60ABFF;

  --ff-primary: 'Space Mono', monospace;
}

* {
  box-sizing: border-box;
}

body,
h1, 
h2, 
h3,
p {
  font-family: var(--ff-primary);
  margin: 0;
}

/* not available class */
.notAvailable {
  opacity: .75;
}

.container {
  background-color: #F6F8FF;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 31px 24px 0 24px;
  max-width: 385px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.header h1 {
  color: #222731;
  font-size: 26px;
  line-height: 38.51px;
  font-weight: 700;
}

.header .toggle_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-family: inherit;
}

.header .toggle_btn:hover {
  cursor: pointer;
}

.header .toggle_btn p {
  margin-right: 16px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 19.25px;
  font-weight: 700;
  color: var(--dark-white);
}

.form {
  margin-bottom: 16px;
}

.form .input_wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form .input_wrapper .input {
  width: 100%;
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
  padding: 18px 0 17px 40px;
  color: var(--greyish-blue-white);
  background-color: var(--light-white);
  outline: none;
  border: none;
  border-radius: 15px;
  font-family: inherit;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.form .input_wrapper .input::placeholder {
  color: var(--greyish-blue-white);
}

.form .input_wrapper img {
  position: absolute;
  left: 12px;
}

.form .input_wrapper .btn {
  position: absolute;
  right: 7px;
  padding: 12.5px 18px;
  background-color: var(--blue-white);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  line-height: 20.73px;
  font-weight: 400;
  color: #fff;
  font-family: inherit;
}

.form .input_wrapper .btn:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.results {
  background-color: var(--light-white);
  padding: 32px 24px 30px 24px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(25px, auto);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.result_image-wrapper {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.result_image-wrapper .avatar {
  max-width: 100%;
  border-radius: 50%;
}

.result_name-wrapper {
  grid-area: 1 / 2 / 2 / 5;
  margin-left: 19px;
  margin-bottom: 6px;
}

.result_name-wrapper .username {
  color: var(--dark-white);
  font-size: 16px;
  line-height: 23.7px;
}

.result_name-wrapper .userlink {
  color: var(--dark-white);
  font-size: 13px;
  line-height: 19.25px;
  color: var(--blue-white);
}

.results_joined-date {
  grid-area: 2 / 2 / 3 / 5;
  margin-bottom: 33px;
  margin-left: 19px;
  font-size: 13px;
  line-height: 19.25px;
  color: var(--greyihs-white);
}

.results_text {
  grid-area: 3 / 1 / 4 / 5;
  margin-bottom: 23px;
  color: var(--greyish-blue-white);
}

.results_text p {
  font-size: 13px;
  line-height: 25px; 
}

.results_numbers {
  grid-area: 4 / 1 / 5 / 5;
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
  text-align: center;
  background-color: #F6F8FF;
  padding: 18px 15px;
  border-radius: 10px;
}

.results_numbers p {
  color: var(--greyish-blue-white);
  font-size: 11px;
  line-height: 16.29px;
}

.results_numbers h3 {
  color: var(--greyish-blue-white);
  font-size: 16px;
  line-height: 23.7px;
  color: var(--dark-white);
  font-weight: 700;
}

.results_information {
  grid-area: 5 / 1 / 6 / 5;
}

.results_information .information {
  margin-bottom: 16px;
}

.results_information .information {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.results_information .information i {
  margin-right: 19px;
  color: var(--greyish-blue-white);
}

.results_information .information span {
  color: var(--greyish-blue-white);
  font-size: 13px;
  line-height: 19.25px;
}

/************************************* tablet ************************************/
@media (min-width: 768px) and (max-width: 1191px) {
  .container {
    background-color: #F6F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    padding: 0;
    max-width: 573px;
  }

  .form .input_wrapper .input {
    padding: 22px 0 22px 80px;
    font-size: 18px;
  }

  .form .input_wrapper .input::placeholder {
    font-size: 18px;
  }

  .form .input_wrapper .avatar {
    left: 32px;
  }

  .form .input_wrapper .btn {
    right: 10px;
    font-size: 16px;
    line-height: 23.7px;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
  }

  .results {
    padding: 40px;
  }

  .result_image-wrapper {
    width: 117px;
    height: 117px;
    margin-bottom: 24px;
  }

  .result_name-wrapper {
    grid-area: 1 / 2 / 2 / 5;
    margin-left: 41px;
    margin-bottom: 0;
  }

  .result_name-wrapper .username {
    font-size: 26px;
    line-height:38.51px;
  }

  .result_name-wrapper .userlink {
    font-size: 16px;
    line-height: 23.7px;
  }

  .results_joined-date {
    margin-left: 41px;
    font-size: 15px;
    line-height: 22.22px;
  }

  .results_text {
    margin-bottom: 32px;
  }

  .results_text p {
    font-size: 15px;
  }

  .results_numbers {
    justify-content: space-between;
    margin-bottom: 30px;
    text-align: left;
    padding: 15px 32px;
  }

  .results_numbers p {
    font-size: 13px;
    line-height: 19.25px;
  }

  .results_numbers h3 {
    font-size: 22px;
    line-height: 32.58px;
  }

  .results_information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .results_information .information_3 {
    grid-area: 1 / 2 / 2 / 3;
  }
}

/*************************************** desktop ********************************************/
@media (min-width: 1192px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    padding: 0;
    max-width: 730px;
  }

  .form {
    margin-bottom: 32px;
  }

  .form .input_wrapper .input {
    padding: 22px 0 22px 80px;
    font-size: 18px;
    line-height: 25px;
  }

  .form .input_wrapper .input::placeholder {
    font-size: 18px;
  }

  .form .input_wrapper .avatar {
    left: 32px;
  }

  .form .input_wrapper .btn {
    right: 10px;
    font-size: 16px;
    line-height: 23.7px;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
  }

  .results {
    padding: 48px;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 37px;
  }

  .result_image-wrapper {
    grid-area: 1 / 1 / 3 / 2;
  }

  .result_image-wrapper {
    width: 117px;
    height: 117px;
  }

  .result_name-wrapper {
    grid-area: 1 / 2 / 2 / 5;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .result_name-wrapper .username {
    font-size: 26px;
    line-height:38.51px;
  }

  .result_name-wrapper .userlink {
    font-size: 16px;
    line-height: 23.7px;
  }

  .results_joined-date {
    grid-area: 1 / 4 / 2 / 6;
    justify-self: center;
    margin-left: 0;
    margin-top: 10px;
    font-size: 15px;
    line-height: 22.22px;
  }

  .results_text {
    grid-area: 2 / 2 / 3 / 6;
    margin-bottom: 32px;
    margin-left: 0;
  }

  .results_text p {
    font-size: 15px;
  }

  .results_numbers {
    grid-area: 3 / 2 / 4 / 6;
    justify-content: space-between;
    margin-bottom: 30px;
    text-align: left;
    padding: 15px 32px;
  }

  .results_numbers p {
    font-size: 13px;
    line-height: 19.25px;
  }

  .results_numbers h3 {
    font-size: 22px;
    line-height: 32.58px;
  }

  .results_information {
    grid-area: 4 / 2 / 5 / 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .results_information .information_3 {
    grid-area: 1 / 2 / 2 / 3;
  }
}

/******************************************* black mode ****************************************/
/* toggle black mode */
.container.black {
  background-color: var(--dark-dark);
}

.container.black .header h1 {
  color: #fff;
}

.container.black .header .toggle_btn p,
.container.black .header .toggle_btn img {
  color: #fff;
}

.container.black .form .input_wrapper .input {
  background-color: var(--dark-blue-dark);
  color: #fff;
}

.container.black .form .input_wrapper .input::placeholder {
  color: #fff;
}

.container.black .results {
  background-color: var(--dark-blue-dark);
}

.container.black .result_name-wrapper .username {
  color: #fff;
}

.container.black .results .joinDate {
  color: #fff;
}

.container.black .results_text p {
  color: #fff;
}

.container.black .results_numbers {
  background-color: var(--dark-dark);
}

.container.black .results_numbers p {
  color: #fff;
}

.container.black .results_numbers h3 {
  color: #fff;
}

.container.black .results_information .information i {
  color: #fff;
}

.container.black .results_information .information span {
  color: #fff;
}

.black {
  display: flex;
}